<%@ page pageEncoding="utf-8"%>
<style>
/* CSS Document */
/*add by ysun: body .row .caption */
body{
	font-family:ו;
	font-size:12px;
	line-height:1.5em;
	color:#333;	
	}
input{
	border:solid 1px  #666;
	font-size:12px;
	color:#333;
	width:100px;
	}
.row{
	height: 30px;
}
.caption{
	width: 10%;
	float: left;
	text-align: right;
}


.tableStyleBlue{
		font-size:12px;
	color:#333;
	line-height:23px;
	vertical-align:middle;
	border:solid 1px #ddd;
	}
.tableStyleBlue caption{
	height:23px;
	background:url(../image/tableCapationBg.jpg) repeat-x;
	color:#333;
	line-height:23px;
	vertical-align:middle;
	text-indent:15px;
	text-align:left;
}
.tableStyleBlue thead{
	border-bottom:1px solid #d6d6d6;
	background:#efefef;
	text-indent:15px;
}
.tableStyleBlue tbody{
       height:21px;
	   background:#dcebff;	  
}
.tableStyleBlue tfoot td#page{
       height:21px;
	   background: #9bbee4;  
}
.tableStyleBlue td{
    	border-bottom:1px solid #d6d6d6;
		text-indent:15px;
}
#senfe {
 border-top: #E3E3E3 1px solid;
 border-left: #E3E3E3 1px solid;
}

/*CSS manu style pagination*/

.manu {
	 TEXT-ALIGN: center
}
.manu A {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #036cb4; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid; TEXT-DECORATION: none
}
.manu A:hover {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.manu A:active {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.manu .current {
	BORDER-RIGHT: #036cb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #036cb4 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #036cb4 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #036cb4 1px solid; BACKGROUND-COLOR: #036cb4
}
.manu .disabled {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid
}

</style>